@use 'colors';

.container{
    display: grid;
    margin: 0;
    padding: 0;
    min-height: 100vh;

    .item{
        color: colors.$colorWhite;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
    }
/* 
    .item1{
        background-color: colors.$colorHeader;
        grid-area: header;
    }
    .item2{
        background-color: colors.$colorMenu;
        grid-area: menu;
    }
    .item3{
        background-color: colors.$colorHero;
        grid-area: hero;
    }
    .item4{
        background-color: colors.$colorMain;
        grid-area: main;
    }
    .item5{
        background-color: colors.$colorImage;
        grid-area: imagen;
        color: colors.$colorBlack;
    }
    .item6{
        background-color: colors.$colorExtra;
        grid-area: extra;
        color: colors.$colorBlack;
    }
    .item7{
        background-color: colors.$colorBanner;
        grid-area: banner; 
        color: colors.$colorBlack;
    } */

    /* el "to" excluye el ultimo numero y el "through" lo incluye */

    $colores:(
        colors.$colorHeader,
        colors.$colorMenu,
        colors.$colorHero,
        colors.$colorMain,
        colors.$colorImage,
        colors.$colorExtra,
        colors.$colorBanner
    );

    @for $i from 1 through 7 {
        .item#{$i}{
        /*  background-color: hsl($i * 40, 100%, 50%);
            color: colors.$colorBlack; */
            background-color: nth($colores , $i );
            /* border: thin solid white; */
            grid-area: item#{$i};
        }
    }
}


/* .container{
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(2, 1fr) repeat(2, 3fr) repeat(3, 2fr);
}

@media screen and (min-width: 640px) and (max-width: 1280px) {
    .container{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }
    .item1{
        grid-column: 1/8;
    }
    .item2{
        grid-column: 1/2;
        grid-row: 4/9;
    }
    .item3{
        grid-column: 1/5;
        grid-row: 2/4;
    }
    .item4{
        grid-column: 2/5;
        grid-row: 4/7;
    }
    .item5{
        grid-column: 4/5;
        grid-row: 8/9;
    }
    .item6{
        grid-column: 2/4;
        grid-row: 8/9;
    }
    .item7{
        grid-column: 2/8;
        grid-row: 7/8;
    }
}


@media screen and (min-width: 1280px) {
    .container{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }
    .item1{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .item2{
        grid-column: 2/5;
        grid-row: 1/2;
    }
    .item3{
        grid-column: 1/5;
        grid-row: 2/5;
    }
    .item4{
        grid-column: 1/3;
        grid-row: 5/7;
    }
    .item5{
        grid-column: 4/5;
        grid-row: 5/6;
    }
    .item6{
        grid-column: 4/5;
        grid-row: 6/7;
    }
    .item7{
        grid-column: 1/5;
        grid-row: 7/8;
    }
} */
